.container{
    padding: 20px;
    border: 5px solid rgb(0, 175, 61);
    background-color: rgb(247, 214, 153);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:10px;
    display:flex;
    flex-direction: column;
    
}
.title{
    color:black
}
.price{
    color:black
}
.addtocart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.addtocart button{
    background-color: rgb(0, 175, 61);
    font-size: large;
    font-weight: bold;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 25px;
    cursor:pointer
}
